*.tgz
*.bz2
*.tar
*.pyc
*.pyo
*.swp
*.swo
*.swn
*.swm
*.[oa]
*.log
*.db
*.rdb
.installed.cfg
pip-log.txt
bin
develop-eggs
dist
downloads
eggs
parts
lib/*
build
include
src
src/*.egg-info
*.egg-info
.project
.settings
tmp/**/*
*DS_Store*
share
.Python
static/*
local_settings.py
media
media/*
*(Autosaved)*
restService/log.htm
restService/macos/log.htm
_build
_static
_templates